body
{
	background-color: #EEEEEE;
	color: #000000;
	margin: 0px auto 0px auto;
	width: 80%;
	min-width: 690px;
	font-family: serf;
	font-size: 12pt;
}

table.download
{
	width: 100%;
}
table.download td
{
	width: 50%;
	vertical-align: top;
}

.bar, .bot-bar
{
	background-color: #BBBBBB;
	background-image: url('images/bar_bg.png');
	height: 24px;
	background-repeat: repeat-x;
	background-position: top;
	text-align: center;
	font-family: sans;
	font-variant: small-caps;
}
.bar .left, .bar .right, .bot-bar .left, .bot-bar .right
{
	position: relative;
	left: -48px;
	height: 24px;
	width: 48px;
	font-size: 1px;
	background-image: url('images/bar_bg_left.png');
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
}
.bar .right, .bot-bar .right
{
	background-image: url('images/bar_bg_right.png');
	background-position: right top;
	float: right;
	left: 48px;
}

.bot-bar
{
	background-image: none;
	font-size: 1px;
	height: 5px;
	margin: 5px 0px 5px 0px;
}
.bot-bar .left, .bot-bar .right
{
	height: 5px;
	background-image: url('images/botbar_left.png');
}
.bot-bar .right
{
	background-image: url('images/botbar_right.png');
}

.bar ul
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style-type: none;
}
.bar ul li
{
	display: inline;
	margin: 0px 5px 0px 5px;
}

a, a:link, a:active, a:visited, a:hover
{
	color: #A00000;
	text-decoration: none;
}
a:hover
{
	color: #D00000;
	text-decoration: underline;
}

img
{
	border: #000000 0px solid;
	margin: 0px auto 0px auto;
	display: block;
}

img.logo
{
	color: #800000;
	text-align: center;
	font-size: 72pt;
	font-weight: bold;
	font-variant: small-caps;
	font-family: sans;
}

h1
{
	color: #800000;
	font-size: 24pt;
	font-weight: bold;
	margin: 0px 0px 2px 0px;
	font-family: sans;
}
h2
{
	color: #800000;
	font-size: 18pt;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
	font-family: sans;
}

p
{
	text-indent: 15px;
	margin: 0px 0px 4px 0px;
}

.copyright
{
	color: #808080;
	font-size: 8pt;
	display: block;
	text-align: center;
	font-family: sans;
}

pre
{
	background-color: #FFFFFF;
	border: #BBBBBB 1px dashed;
	font-size: 80%;
	padding: 4px;
}
